.h1{
    text-align: start;
    font-size: 18px;
    margin: 10px;
    color: #555555;
}

.p{
    text-align: start;
    font-size: 15px;
    margin: 0px 10px;
    color: #777777;
    font-style: italic;
}