.containerContatos {
    width: 100%;
    border: 1px solid #c51183;
    background-color: #f8eefc;
    background-color: #E3BEF2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.contatoItem {
    font-size: 15px;
    margin: 5px;
    color:#2b2727;
    transition: color 0.3s ease;
}

.contatoItem:hover {
    color: #c51183;
    font-size: 17px;
}
