.container{     
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    background-color: #f8eefc;
    position: fixed;       /* Fixa na tela */
    bottom: 0;             /* Alinha no rodapé */
    left: 0;               /* Garante que comece no canto esquerdo */
    width: 100%;
}