.layout {
    min-height: 100vh;          /* ocupa a tela inteira */
    display: flex;
    flex-direction: column;     /* header -> conteúdo -> footer */
}

.content {
    flex: 1;                    /* empurra o footer para baixo */
    padding-top: 70px; /* espaço reservado para o header fixo */
    padding-bottom: 16px;
}
